<p>Ajout d'une dose d'un ingrédient pour <%= @cocktail.name %></p>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>


  <%= f.submit "add a dose", class: 'btn btn-primary' %>
<% end %>


